.back{
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    position: relative;
    margin-top: 10%;
    margin-right: 0%;
}
@media only screen and (max-width: 35em){

    .back{
        color: black;
        text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
        position: relative;
        margin-top: 10%;
        margin-right: 0%;
    }



}